<!Doctype html>

<title>Flask - Algoritmos</title>
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='/css/materialize.min.css')}}">
<link rel=stylesheet type=text/css href="{{ url_for('static',filename='/css/aux.css')}}">

<script src="{{ url_for('static',filename='/js/jquery.min.js')}}"></script>
<script src="{{ url_for('static',filename='/js/materialize.min.js')}}"></script>
<script src="{{ url_for('static',filename='/js/materialize.js')}}"></script>

<!--Inicializar el Select-->
<html>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('select').material_select();
    });

    $(document).ready(function() {
        $('.tooltipped').tooltip({
            delay: 50
        });
    });
</script>


<head>
    <title>PUJScheduler - Horario</title>
</head>

<body class="blue-grey lighten-5">
    <div class="page-flexbox-wrapper">
        <header>
            <nav class="light-blue lighten-1">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">PUJ Scheduler</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="section">
                    Horario para {{estudiante.nombre}}
                </div>
            </div>


            <div class="container section">
                <table id="table" class="responsive-table centered center highlight">
                    <thead class="light-blue lighten-1 white-text">
                        <tr class="center">
                            <th data-field="Lunes">Lunes</th>
                            <th data-field="Martes">Martes</th>
                            <th data-field="Miercoles">Miercoles</th>
                            <th data-field="Jueves">Jueves</th>
                            <th data-field="Viernes">Viernes</th>
                            <th data-field="Sábado">Sábado</th>
                            <th data-field="Domingo">Domingo</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for b in bloques %}
                        <tr>
                            {% set count = 0 %}
                            {% for d in dias %}
                               
                                {% for s in slots %}
                                    {% if s.posicion|int == b|int%}
                                        {% if s.dia == d%}
                                            <td>{{s.clase.ID+"-"+s.clase.profesor+s.dia|string+"-"+s.posicion|string}}</td>
                                            {% set count = 1 %}
                                        {% endif %}
                                    {% endif %}    
                                {% endfor %}
                                {% if count == 1 %}
                                <td>-</td>
                                {%endif %}
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
        <footer class="page-footer orange ">
            <div class="container">
                <div class="row">
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Un desarrollo de </h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Camilo Benavides</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/Mutisantos">Esteban Hernández</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Jimena Vargas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Potenciado por CSSMaterialize©
                    <a class="grey-text text-lighten-4 right" href="http://materializecss.com/">Materialize</a>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>
